@import '../../scss/variables.scss';
$left-transform:  translateY(-50%) rotate(120deg);
$right-transform: translateY(-50%) rotate(120deg);

.loader {
    position: fixed;
    top: 0;
    background: $bg-dark-elevated-1;
    z-index: 15;
    color: transparent;
    user-select: none;

}

.loader-left {
    //transform: $left-transform;
    width: 200rem;
    height: 200rem;
    left: 0;
    top: 50%;
    transform:   translateY(-50%) rotate(120deg);
}

.loader-right {
    right: 0;
    top: 50%;
    transform:   translateY(-50%) rotate(120deg);
    width: 200rem;
    height: 200rem;
    //transform: $right-transform;
}

.loader-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    color: white;
    font-size: 10rem;
    width: 100%;
    height: 100%;
    animation: blinker 1s infinite;


    svg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.animate--hide-right {
    animation: hider-right 4s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

.animate--hide-left {
     animation: hider-left 4s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

@keyframes blinker {
    50% {
        opacity: 0;
        color: #4EE1A0;
    }
}

@keyframes hider-left {
    0% {


        transform: $left-transform;


    }

    100% {

        transform: translateX(-300rem) translateY(-50%) rotate(120deg);

    }
}

@keyframes hider-right {
    0% {
        transform: $right-transform;
    }

    100% {
        transform: translateX(300rem) rotate(120deg);
    }
}