footer {
    display: flex;
    flex-direction: column;
    position: relative;
    background: black;
    width: 100%;
    min-height: 10rem;
    color: white;
    padding: 1rem;
    margin: 5rem 0 0 0;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        background: no-repeat url(./img/Monetp-t.png);
        width: 70rem;
        height: 100%;
        right: 0;
        z-index: 0;
    }

    >h2 {
        z-index: 2;
        font-size: 2.5rem;
    }

    .socials {
        display: flex;
        flex-direction: column;
        z-index: 2;
        gap: 0.25rem;

        >h3 {
            font-size: 1.5rem;
        }

        a {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            font-size: 1.2rem;
            text-decoration: none;
        }

        a:nth-child(2) {
            color: #73599b;
        }

        a:nth-child(3) {
            color: #2a68b3;
        }

        a:nth-child(4) {
            color: #4ee1a0;
        }
    }
}