@import '../../scss/variables.scss';
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.651);
    min-width: 50%;
    max-width: 50%;
    margin: auto;
    padding: 0 1rem;
    font-size: 1.25rem;
    color: $font-color;
    backdrop-filter: blur(2px);
    z-index: 10;
    border-radius: 0 0 .5rem .5rem;
    .nav-anchors{
        display: flex;
        justify-content: center;
        gap: 1rem;
        a{
            margin: auto 0;
            &:nth-child(1){
                color: #73599b;
            }
            &:nth-child(2){
                color: #2a68b3;
            }
        }
    }
}